<div id="header">
    <div class="main-logo">
        <img src="<%= ejs_helpers.assemble_img_link('nodeux.png')%>" alt="Nodeux Image">
    </div>
    <div class="main-toolbar">
        <div><a href="/">Home</a></div>
        <div><a href="/articles">Articles</a></div>
        <div><a href="/articles/about-me">About</a></div>
    </div>
</div>