<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
<div id="skeleton">
    <% include ../partials/header.ejs %>
    <div id="main">
        <%- include('../partials/article.ejs', {"terminator": false});%>
    </div>
    <% include ../partials/footer.ejs %>
</div>
<% include ../partials/gtag.ejs %>
</body>
</html>